@use 'variables' as *;

$tablet-width: 768px;
$desktop-width: 1200px;

@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin topbarMargin {
	margin-top: spacing(6);

	@include tablet {
		margin-top: spacing(10);
	}
}

@mixin backgroundImage {
	overflow: hidden;

	.Container {
		overflow: visible;
		position: relative;
		padding: spacing(4) 0;
	}

	.main-content-box {
		background: rgba(white, 0.7);
		padding: spacing(4);
		border-radius: 2px;
	}

	.image-container {
		z-index: -1;
		position: absolute;
		max-height: 100%;
		overflow: visible;
		top: 0;
		bottom: 0;
		right: -20vw;
		left: -20vw;

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
}

@mixin imageSplit {
	padding: 0;
	position: relative;

	.Container {
		overflow: visible;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.main-content-box {
		@include tablet {
			transform: translateX(spacing(-4));
		}
	}

	.image-container {
		position: relative;
		right: 0;

		img {
			position: absolute;
			border-radius: 2px;
			transform: translateX(-50%);
			max-width: none;
			display: block;
			opacity: 1;
		}
	}
}
