// colors
$color: #464646;
$accent: #497c22;
$shadow: #7c9966;
$background: #ffffff;
$logo: #c40c0c;

// decoration
$soft-shadow: 10px 10px 50px rgba($shadow, 0.15);
$hard-shadow: 1px 1px 5px rgba($shadow, 0.7);

// type
$font-family: 'Roboto Condensed', 'Roboto', Arial, Helvetica, sans-serif;
$normal: 400;
$bold: 700;

// whitespace
@function spacing($factor) {
	@return #{0.5 * $factor}em;
}
