// colors
$color: #464646;
$accent: #497c22;
$shadow: #434d3c;
$light-grey: #afb8a8;
$background: #ffffff;
$background-alt: #f7f9f6;
$logo: #c40c0c;

// decoration
$soft-shadow: 10px 10px 50px rgba($shadow, 0.15);
$hard-shadow: 1px 2px 3px rgba($shadow, 0.4);

// type
$font-family: 'Roboto Condensed', 'Roboto', Arial, Helvetica, sans-serif;
$normal: 400;
$bold: 700;

// whitespace
@function spacing($factor) {
	@return #{0.5 * $factor}em;
}
