@use 'variables' as *;

.Navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $background;
	padding: spacing(3) 0;
	z-index: 999;
}

.Logo {
	color: inherit;
	text-decoration: none;
	transform: translateX(5px);

	.Typography {
		letter-spacing: 0;
		font-size: 2rem;
		font-weight: $bold;
		text-transform: uppercase;
		font-style: italic;
	}

	.accent {
		margin-left: spacing(1);
		color: $logo;
	}
}

.Navlist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-item {
	text-transform: uppercase;
	cursor: pointer;
}

.nav-link {
	display: block;
	color: inherit;
	text-decoration: none;
	font-size: 0.75rem;
	padding: spacing(3) spacing(2);
	border-top: 3px solid $background;
	border-bottom: 3px solid $background;

	&:hover,
	&.active {
		border-bottom-color: $accent;
	}
}

.Phone {
	color: inherit;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: $bold;
	padding-left: spacing(2);
}

.phone-icon {
	color: $accent;
	margin-right: spacing(0.5);
}

.Footer {
	padding: spacing(8) 0;

	.Typography {
		letter-spacing: 0;
	}
}

.footer-right {
	align-items: baseline;
	justify-content: left;
	max-width: 70%;
}

.footer-right > .Box {
	flex-grow: 0;
	flex-shrink: 1;
	font-size: 0.75rem;
	margin-left: spacing(7.2);
	flex-basis: 50%;
	flex-direction: column;
	align-items: flex-start;
	justify-content: baseline;
}

.footer-right .top-box {
	margin-bottom: spacing(6);
}

.footer-heading {
	margin-bottom: spacing(1);
	color: $accent;
	font-size: 1rem;
	font-weight: $bold;
}

.service-areas {
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;

	.Typography {
		flex: 1 1 30%;
	}
}
