@use 'variables' as *;
@use 'mixins';

.Navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $background;
	padding: spacing(1.5) 0;
	z-index: 999;

	.Container {
		align-items: center;
	}

	.Logo {
		margin: 0;
	}
}

.open-mobile-menu {
	font-size: 1.4rem;
}

.mobile-nav {
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: $background;
	z-index: 999;

	.nav-link {
		font-size: 1.2rem;
		border: none;

		&.active {
			font-weight: $bold;
			color: $accent;
		}
	}
}

.Logo {
	color: inherit;
	text-decoration: none;
	transform: translateX(5px);
	margin-bottom: spacing(4);

	.Typography {
		letter-spacing: 0;
		font-size: 1.25rem;
		font-weight: $bold;
		text-transform: uppercase;
		font-style: italic;
	}

	.accent {
		margin-left: spacing(1);
		color: $logo;
	}
}

.Navlist {
	list-style: none;
	margin: 0;
	padding: 0;

	&.mobile-navlist {
		flex-direction: column;
	}
}

.nav-item {
	text-transform: uppercase;
	cursor: pointer;
}

.nav-link {
	display: block;
	color: inherit;
	text-decoration: none;
	font-size: 0.75rem;
	padding: spacing(3) spacing(2);
	border-top: 3px solid $background;
	border-bottom: 3px solid $background;

	&:hover,
	&.active {
		border-bottom-color: $accent;
	}
}

.Phone {
	color: inherit;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: $bold;
	padding-left: spacing(2);
}

.phone-icon {
	color: $accent;
	margin-right: spacing(0.5);
}

.Footer {
	padding: spacing(8) 0;
	text-align: left;

	.Logo {
		transform: unset;

		@include mixins.tablet {
			flex-basis: 45%;
			margin-bottom: 0;

			.Typography {
				font-size: 2rem;
			}
		}
	}

	.Typography {
		letter-spacing: 0;
	}

	.main-content-flex {
		flex-direction: column;
		align-items: flex-start;
		max-width: 150px;
		margin: 0 auto;

		@include mixins.tablet {
			align-items: center;
			max-width: unset;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}

.footer-inner-content {
	align-items: baseline;
	justify-content: left;
	flex-direction: column;

	@include mixins.tablet {
		flex-basis: 55%;
		flex-direction: row;
		justify-content: space-between;
	}
}

.footer-inner-content > .Box {
	font-size: 0.75rem;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 50%;
	flex-direction: column;
	align-items: flex-start;

	@include mixins.tablet {
		&.left {
			align-self: stretch;
			flex-basis: 40%;
		}

		&.right {
			align-items: flex-start;
			flex-basis: 60%;
			margin-left: spacing(4);
		}

		justify-content: space-between;
	}
}

.footer-inner-content {
	.top-box {
		margin-bottom: spacing(6);
	}

	& > .Box {
		margin-bottom: spacing(6);

		@include mixins.tablet {
			margin-bottom: 0;
		}
	}
}

.footer-heading {
	margin-bottom: spacing(1);
	color: $accent;
	font-size: 1rem;
	font-weight: $bold;
}

.footer-subheading {
	margin-bottom: spacing(4);
}

.service-areas {
	flex-direction: column;
	height: 200px;
	flex-wrap: wrap;
	justify-content: left;
	align-items: flex-start;
	margin: 0;

	.Typography {
		margin-bottom: spacing(1);
	}

	@include mixins.tablet {
		height: auto;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
	}
}

.city-col-1,
.city-col-2,
.city-col-3 {
	flex-direction: column;
	align-items: flex-start;
	justify-content: left;
	flex: 0 1 34%;

	@include mixins.tablet {
		flex: 0 1 26%;
	}
}
