@use 'variables' as *;
@use 'mixins';
@use 'utility';
@use 'components';
@use 'pages';
@use 'forms';

@import 'https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap';

html,
body {
	padding: 0;
	margin: 0;
}

html {
	font-size: 12px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	color: $color;
	font-family: $font-family;
	text-align: center;

	@include mixins.tablet {
		text-align: left;
	}
}

// main.depth-1 {
// 	padding-top: spacing(6);
// }

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	margin: 0 auto;
	padding: 0;
	min-width: none;
	max-width: 100%;
	height: auto;
}
