@use 'variables' as *;
@use 'utility';
@use 'components';
@use 'pages';
@use 'forms';

@import 'https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap';

html,
body {
	padding: 0;
	margin: 0;
}

html {
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	color: $color;
	font-family: $font-family;
}

main {
	padding-top: spacing(12);
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: inherit;
}
