@use 'variables' as *;

.Page {
	padding-top: spacing(6);

	.hero-text {
		text-transform: uppercase;
		letter-spacing: 0;
		max-width: 700px;
		line-height: 0.9;
		margin: 0;
	}

	.hero-subtext {
		margin: spacing(2.5) 0 spacing(9.333);
		font-size: 1.25rem;
		line-height: normal;
	}

	.flex-text {
		flex: 0 1 45%;
	}

	section {
		padding: spacing(7) 0;
	}

	section:nth-child(odd) {
		background: $background-alt;
	}
}

.home-section-1,
.home-section-2,
.home-section-3 {
	.main-content-flex {
		flex-direction: column;
	}
}

.home-section-3 {
	.section-preface {
		margin-bottom: spacing(10.667);

		h2 {
			margin-bottom: spacing(1.35);
		}

		p {
			font-size: 1.25rem;
		}
	}

	.svg-box {
		margin-bottom: spacing(10.667);

		.RichText {
			margin-bottom: spacing(2.5);
		}

		.Typography {
			margin: 0;
			letter-spacing: 0;
		}
	}
}

.Contact {
	h1 {
		margin: 0;

		.block {
			margin: 0;
			line-height: 0.9;
		}
	}

	.contact-section {
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: baseline;
	}

	.contact-info {
		flex-basis: 50%;
		padding-right: spacing(12);
	}

	.contact-info-item {
		justify-content: left;
		padding-bottom: spacing(8);
	}

	.contact-info-icon {
		font-size: 3rem;
		color: $accent;
		padding-right: spacing(1);
	}

	.contact-info-text {
		font-size: 1.25rem;

		.Typography {
			margin: 0;
		}
	}

	.right {
		flex-basis: 50%;
		margin-bottom: spacing(12);
		justify-content: center;
	}

	.Form {
		width: 100%;
		padding: spacing(4) spacing(8);

		.Button {
			width: 100%;
		}
	}

	.bottom {
		flex-basis: 100%;
		font-size: 2rem;
		font-weight: $bold;
		color: $accent;
		text-align: center;
	}
}

.Admin {
	.sign-out {
		position: fixed;
		top: spacing(1);
		right: spacing(1);
	}

	.pages-tabs {
		font-size: 1.25rem;
		font-weight: $bold;
		padding: spacing(1);
		border-radius: 8px;
		overflow: hidden;
		background: $background;
		box-shadow: $hard-shadow;
		justify-content: space-between;
		user-select: none;
	}

	.page-tab {
		padding: spacing(2);
		flex-grow: 1;
		justify-content: center;
		cursor: pointer;
		border-radius: 4px;
		margin-right: spacing(1);

		&:last-child {
			margin-right: 0;
		}

		&.current,
		&:hover {
			background: $light-grey;
		}
	}
}

.PageTool {
	padding: spacing(6) 0;
}

.ContentTool {
	border: 4px solid $light-grey;
	border-radius: 8px;
	padding: spacing(12);
	margin-bottom: spacing(2);

	&:last-child {
		margin-bottom: 0;
	}
}

.form-children > span {
	display: block;
	margin-bottom: spacing(2);
}

.Flexbox.add-button {
	justify-content: left;
	font-size: 1.2rem;
	width: unset;
	cursor: pointer;
	padding: spacing(4) 0;

	&:hover .Typography {
		text-decoration: underline;
		text-decoration-thickness: 3px;
		text-decoration-color: $color;
	}
}

.add-icon {
	margin-right: 1ch;
}
