@use 'variables' as *;
@use 'mixins';

.Page {
	.flex-text {
		flex: 0 1 50%;
	}

	section {
		padding: spacing(7) 0;

		@include mixins.tablet {
			padding: spacing(10.667) 0;
		}
	}
}

.Page.home .home-section-hero {
	background: none;
}

.home-section-hero,
.about-section-hero,
.services > .section-hero,
.products-section-hero,
.partners-section-hero {
	@include mixins.topbarMargin;
	@include mixins.backgroundImage;
}

.home-section-hero {
	position: relative;
	overflow: hidden;

	@include mixins.tablet {
		margin-top: spacing(10);
	}

	padding: spacing(15) 0;

	.Container {
		min-height: calc(100vw / 2);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.hero-text-container {
		height: 100%;
	}

	@include mixins.tablet {
		.Button {
			font-size: 2.667rem;
		}
	}

	.hero-text {
		text-transform: uppercase;
		letter-spacing: 0;
		max-width: 700px;
		line-height: 0.9;
		margin: 0 0 spacing(1.2) 0;
		transform: translateX(-4px);

		@include mixins.tablet {
			font-size: 6rem;
		}
	}

	.hero-subtext {
		line-height: normal;
		font-size: 1.25rem;
		margin: 0 0 spacing(4) 0;

		@include mixins.tablet {
			font-size: 2rem;
		}
	}
}

.home-section-1,
.home-section-2,
.home-section-3,
.home-section-5 {
	.main-content-flex {
		flex-direction: column;

		@include mixins.tablet {
			flex-direction: row;
			align-items: flex-start;
		}
	}
}

.home-section-2 .Card {
	flex-basis: 29%;
}

.home-section-3 {
	.section-preface {
		margin-bottom: spacing(10.667);

		@include mixins.tablet {
			margin-bottom: spacing(8);
		}

		h2 {
			margin-bottom: spacing(1.35);
		}

		p {
			font-size: 1.25rem;
		}
	}

	.svg-box {
		margin-bottom: spacing(10.667);

		@include mixins.tablet {
			margin-bottom: 0;
		}

		svg {
			width: 100px;
			height: 100px;
		}

		.drink-svg {
			transform: translateY(3px);
		}

		.money-svg svg {
			transform: translateY(8px);
		}

		@include mixins.tablet {
			flex-basis: 30%;
		}

		.RichText {
			margin-bottom: spacing(2.5);
		}

		.Typography {
			margin: 0;
			letter-spacing: 0;
		}
	}
}

.home-section-4 {
	.main-content-box {
		margin-bottom: spacing(9.333);
		position: relative;
	}

	.image-container {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		img {
			object-position: center;
			opacity: 0.15;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	h2 {
		margin-bottom: spacing(2);
	}

	p {
		margin-bottom: spacing(4);
	}
}

.home-section-5 .ProductCard {
	margin-bottom: spacing(4);

	&:last-child {
		margin-bottom: 0;
	}
}

.about,
.services,
.products,
.gallery {
	@include mixins.tablet {
		.hero-section {
			width: 55%;

			.Container {
				width: 100%;
				padding: 0 7.5vw;
			}
		}
	}

	.hero-text {
		font-size: 2rem;
		margin-bottom: spacing(2);
	}

	.hero-subtext {
		line-height: 1.6;
		margin-bottom: spacing(4);
	}

	.hero-text-container {
		margin-bottom: spacing(8);
	}

	.hero-subtext-heading {
		color: $accent;
		font-weight: $bold;
		font-size: 1.5rem;
	}
}

.about-section-1 .main-content-flex {
	flex-direction: column;

	@include mixins.tablet {
		flex-direction: row;
	}

	.text-container {
		margin-bottom: spacing(8);

		@include mixins.tablet {
			margin-bottom: 0;
			flex-basis: 35%;
		}
	}

	.card-container {
		flex-direction: column;

		@include mixins.tablet {
			flex-direction: row;
			flex-basis: 60%;

			.Card {
				flex-basis: 45%;
			}
		}
	}
}

.services {
	.ProductCard {
		background: $background;
	}
}

.services .section-1 {
	h2 {
		margin-bottom: spacing(4);
	}

	.ProductCard {
		margin-bottom: spacing(2);

		&:last-child {
			margin-bottom: 0;
		}
	}

	.main-content-flex {
		flex-direction: column;
	}

	.sub-content-flex {
		flex-direction: column;
		margin-bottom: spacing(8);
	}
}

.products-section-1,
.partners-section-1 {
	h2 {
		margin-bottom: spacing(4);
	}

	.main-content-flex {
		flex-direction: column;

		.ProductCard {
			margin-bottom: spacing(1);
		}

		.Typography {
			font-weight: $bold;
		}

		.product-card-container {
			margin-bottom: spacing(8);
		}
	}
}

.Contact {
	h1 {
		margin: 0;

		.block {
			margin: 0;
			line-height: 0.9;
		}
	}

	.main-content-flex {
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: baseline;
	}

	.contact-info {
		flex-direction: column;
		align-items: flex-start;

		h3 {
			margin: 0 auto spacing(4);
		}
	}

	.contact-info-item {
		justify-content: left;
		padding-bottom: spacing(8);
		text-align: left;
	}

	.contact-info-icon {
		font-size: 3rem;
		color: $accent;
		padding-right: spacing(1);
	}

	.contact-info-text {
		font-size: 1.25rem;

		.Typography {
			margin: 0;
		}
	}

	.left {
		order: 1;
	}

	.right {
		order: 0;
		margin-bottom: spacing(12);
		justify-content: center;
	}

	.bottom {
		order: 2;
	}

	.Form {
		width: 100%;
		padding: spacing(4);

		.Button {
			width: 100%;
		}
	}

	.bottom {
		flex-basis: 100%;
		font-size: 2rem;
		font-weight: $bold;
		color: $accent;
		text-align: center;
	}
}

.Admin {
	.sign-out {
		position: fixed;
		top: spacing(1);
		right: spacing(1);
	}

	.pages-tabs {
		font-size: 1.25rem;
		font-weight: $bold;
		padding: spacing(1);
		border-radius: 8px;
		overflow: hidden;
		background: $background;
		box-shadow: $hard-shadow;
		justify-content: space-between;
		user-select: none;
	}

	.page-tab {
		padding: spacing(2);
		flex-grow: 1;
		justify-content: center;
		cursor: pointer;
		border-radius: 4px;
		margin-right: spacing(1);

		&:last-child {
			margin-right: 0;
		}

		&.current,
		&:hover {
			background: $light-grey;
		}
	}
}

.PageTool {
	padding: spacing(6) 0;
}

.ContentTool {
	border: 4px solid $light-grey;
	border-radius: 8px;
	padding: spacing(12);
	margin-bottom: spacing(2);

	&:last-child {
		margin-bottom: 0;
	}
}

.form-children > span {
	display: block;
	margin-bottom: spacing(2);
}

.Flexbox.add-button {
	justify-content: left;
	font-size: 1.2rem;
	width: unset;
	cursor: pointer;
	padding: spacing(4) 0;

	&:hover .Typography {
		text-decoration: underline;
		text-decoration-thickness: 3px;
		text-decoration-color: $color;
	}
}

.add-icon {
	margin-right: 1ch;
}
