@use 'variables' as *;
@use 'mixins';

.flex-text {
	flex: 0 1 50%;
}

.Page.home .home-section-hero {
	background: none;
}

.home-section-hero,
.about-section-hero,
.services > .section-hero,
.products-section-hero,
.partners-section-hero,
.gallery-section-hero,
.contact-section-hero {
	@include mixins.topbarMargin;
	@include mixins.backgroundImage;
}

.Terms,
.Privacy {
	.Container {
		@include mixins.topbarMargin;
	}

	article {
		margin-bottom: spacing(8);
	}

	h2 {
		font-size: 1.2rem;
	}

	h3 {
		font-size: 1rem;
		font-weight: $normal;
		text-decoration: underline;
	}
}

.about-section-hero,
.services > .section-hero,
.products-section-hero,
.partners-section-hero,
.gallery-section-hero {
	@include mixins.tablet {
		@include mixins.imageSplit;

		.image-container {
			height: 600px;

			img {
				width: 960px;
				height: 600px;
			}
		}
	}
}

.home-section-1,
.home-section-2,
.home-section-3,
.home-section-4,
.home-section-5,
.about-section-1,
.services .section-1,
.products-section-1,
.partners-section-1,
.gallery-section-1,
.contact-section-1 {
	padding: spacing(8) 0;
}

.home-section-4 {
	@include mixins.backgroundImage;

	@include mixins.tablet {
		@include mixins.imageSplit;

		.image-container {
			height: 600px;

			img {
				width: 708px;
				height: 732px;
			}
		}
	}
}

.home-section-hero,
.contact-section-hero {
	position: relative;
	overflow: hidden;

	.Container {
		padding: spacing(15) 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.hero-text-container {
		height: 100%;
		width: 100%;
	}

	@include mixins.tablet {
		.Button {
			font-size: 2rem;
		}
	}
}

.home-section-hero,
.contact-section-hero {
	.Container {
		@include mixins.tablet {
			transform: translateX(spacing(-8));
		}
	}

	.hero-text {
		text-transform: uppercase;
		letter-spacing: 0;
		line-height: 0.9;
		margin: 0;
		transform: translateX(-4px);

		@include mixins.tablet {
			font-size: 4rem;
		}
	}

	.hero-subtext {
		line-height: normal;
		font-size: 1.5rem;
		margin: spacing(4) 0;
	}

	.main-content-box {
		display: flex;
		flex-direction: column;
		padding: spacing(6) spacing(2);
		align-items: center;
		margin: 0 auto;

		@include mixins.tablet {
			padding: spacing(8);
			margin: unset;
			align-items: flex-start;
		}
	}
}

.home-section-1,
.home-section-2,
.home-section-3,
.home-section-5 {
	.main-content-flex {
		flex-direction: column;

		@include mixins.tablet {
			flex-direction: row;
			align-items: flex-start;
		}
	}
}

@include mixins.tablet {
	.home-section-1 .Typography {
		flex: 0 1 47%;
	}
}

.home-section-1 {
	p {
		margin-bottom: 0;
	}
}

.home-section-2 {
	background: $background-alt;

	.Card {
		flex-basis: 29%;
		margin-bottom: spacing(6);

		&:last-child {
			margin-bottom: 0;
		}

		@include mixins.tablet {
			margin-bottom: 0;
		}
	}
}

.home-section-3 {
	.section-preface {
		margin-bottom: spacing(10.667);

		@include mixins.tablet {
			margin-bottom: spacing(8);
		}

		h2 {
			margin-bottom: spacing(1.35);
		}

		p {
			font-size: 1.25rem;
		}
	}

	.svg-box {
		margin-bottom: spacing(10.667);

		@include mixins.tablet {
			margin-bottom: 0;
		}

		svg {
			width: 100px;
			height: 100px;
		}

		.drink-svg {
			transform: translateY(3px);
		}

		.money-svg svg {
			transform: translateY(8px);
		}

		@include mixins.tablet {
			flex-basis: 30%;
		}

		.RichText {
			margin-bottom: spacing(2.5);
		}

		.Typography {
			margin: 0;
			letter-spacing: 0;
		}
	}
}

.home-section-4 {
	.Typography {
		margin-left: auto;
		margin-right: auto;
	}

	@include mixins.desktop {
		align-items: center;

		.Container {
			align-self: center;
		}
	}

	.main-content-box {
		position: relative;

		@include mixins.tablet {
			margin-bottom: 0;
		}
	}

	h2 {
		margin-bottom: spacing(2);
	}

	p {
		margin-bottom: spacing(4);
	}
}

.home-section-5 {
	@include mixins.desktop {
		.main-content-flex {
			justify-content: center;

			.ProductCard {
				margin: 0 spacing(2);
			}
		}
	}

	.ProductCard {
		margin-bottom: spacing(4);

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.about,
.services,
.products,
.partners,
.gallery {
	@include mixins.tablet {
		.hero-section {
			width: 55%;

			.Container {
				width: 100%;
				padding: 0 7.5vw;
			}
		}
	}

	.hero-text {
		font-size: 2rem;
		margin-bottom: spacing(2);
	}

	.hero-subtext {
		line-height: 1.6;
		margin-bottom: spacing(4);

		a {
			color: $accent;
			text-decoration: underline;
		}
	}

	.hero-text-container {
		margin-bottom: spacing(8);
	}

	.hero-subtext-heading {
		color: $accent;
		font-weight: $bold;
		font-size: 1.5rem;
	}
}

.about-section-1 {
	background: $background-alt;

	.main-content-flex {
		flex-direction: column;

		@include mixins.tablet {
			flex-direction: row;
			justify-content: left;
		}

		.text-container {
			margin-bottom: spacing(8);

			@include mixins.tablet {
				margin-bottom: 0;
				flex: 0 1 40%;
				padding-right: spacing(4);
			}
		}

		.card-container {
			flex-direction: column;

			.Card {
				margin-bottom: spacing(8);

				&:last-child {
					margin-bottom: 0;
				}
			}
			@include mixins.tablet {
				flex-direction: row;
				justify-content: left;

				.Card {
					margin-bottom: 0;
					margin-right: spacing(4);

					&:last-child {
						margin-right: unset;
					}
				}
			}
		}
	}
}

.services {
	.ProductCard {
		background: $background;
	}
}

.services .section-1 {
	h2 {
		margin-bottom: spacing(4);
	}

	.ProductCard {
		margin-bottom: spacing(2);

		&:last-child {
			margin-bottom: 0;
		}
	}

	.main-content-flex {
		flex-direction: column;

		@include mixins.tablet {
			flex-direction: row;
			align-items: center;
			justify-content: left;
		}
	}

	.sub-content-flex {
		flex-direction: column;
		margin-bottom: spacing(8);

		@include mixins.tablet {
			margin-bottom: 0;
			margin-right: spacing(8);
			flex: 1 1 55%;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: left;

			.ProductCard {
				margin-right: spacing(4);

				@include mixins.desktop {
					margin-bottom: 0;
					align-self: stretch;
				}
			}
		}
	}
}

.products-section-1,
.partners-section-1 {
	background: $background-alt;
	padding-bottom: 0;

	h2 {
		margin-bottom: spacing(4);
	}

	.main-content-flex {
		flex-direction: column;

		.ProductCard {
			margin-bottom: spacing(1);
		}

		.Typography {
			font-weight: $bold;
		}

		.product-card-container {
			text-align: center;
			margin-bottom: spacing(8);
		}
	}
}

@include mixins.tablet {
	.products-section-1,
	.partners-section-1 {
		h2 {
			margin-bottom: spacing(2);
		}

		.main-content-flex {
			flex-direction: row;
			flex-wrap: wrap;
			max-width: 550px;

			.product-card-container {
				width: 160px;
				transform: translateX(spacing(-1));

				@include mixins.desktop {
					margin-right: spacing(6);
					height: 150px;
				}
			}

			@include mixins.desktop {
				max-width: unset;
				justify-content: space-between;
				align-items: center;

				.ProductCard {
					margin: 0 auto spacing(1);
				}
			}

			margin: 0 auto;
		}
	}

	.partners-section-1 .main-content-flex {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;

		@include mixins.desktop {
			margin-left: 0;
			justify-content: left;
		}

		.product-card-container {
			width: 200px;
			transform: translateX(spacing(-3));
		}
	}
}

.gallery {
	h2 {
		text-align: center;
	}

	.gallery-item {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		box-shadow: $hard-shadow;
		border-radius: 2px;
		overflow: hidden;
		margin-bottom: spacing(8);

		@include mixins.tablet {
			flex-direction: row;
		}

		&:last-child {
			margin-bottom: 0;
		}

		h3 {
			color: $accent;
			margin-bottom: spacing(0.5);
		}

		a {
			&:hover {
				color: $accent;
			}
			text-decoration: underline;
			margin-bottom: spacing(2);
		}
	}

	.gallery-item-text {
		padding: spacing(4);
		flex: 0 1 60%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include mixins.tablet {
			align-items: flex-start;
		}
	}

	.gallery-item-image {
		flex: 0 1 40%;
	}
}

.Contact {
	h1 {
		margin: 0;

		.block {
			margin: 0;
			line-height: 0.9;
		}
	}

	.main-content-flex {
		flex-direction: column;
		align-items: center;

		@include mixins.desktop {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	.contact-info {
		flex-direction: column;
		align-items: flex-start;

		h3 {
			width: 100%;
			margin-bottom: spacing(4);
			text-align: center;

			@include mixins.tablet {
				text-align: left;
			}
		}

		& > .contact-info-item {
			justify-content: left;
			padding-bottom: spacing(8);
			text-align: left;

			&:last-child {
				padding: 0;
			}
		}
	}

	.contact-info-icon {
		font-size: 3rem;
		color: $accent;
		padding-right: spacing(1);
	}

	.contact-info-text {
		font-size: 1.25rem;

		.Typography {
			margin: 0;
		}
	}

	.left {
		order: 1;
		margin-bottom: spacing(12);

		@include mixins.desktop {
			order: 0;
			flex: 0 1 50%;
		}
	}

	.right {
		order: 0;
		margin-bottom: spacing(12);
		justify-content: center;
		width: 100%;

		@include mixins.desktop {
			order: 1;
			flex: 0 1 50%;
		}
	}

	.bottom {
		order: 2;
	}

	.Form {
		width: 100%;
		padding: spacing(6);
		max-width: 600px;

		.Button {
			width: 100%;
		}
	}

	.bottom {
		flex-basis: 100%;
		font-size: 2rem;
		font-weight: $bold;
		color: $accent;
		text-align: center;
	}
}

.Admin {
	.sign-out {
		position: fixed;
		top: spacing(1);
		right: spacing(1);
	}

	.pages-tabs {
		font-size: 1.25rem;
		font-weight: $bold;
		padding: spacing(1);
		border-radius: 8px;
		overflow: hidden;
		background: $background;
		box-shadow: $hard-shadow;
		justify-content: space-between;
		user-select: none;
	}

	.page-tab {
		padding: spacing(2);
		flex-grow: 1;
		justify-content: center;
		cursor: pointer;
		border-radius: 4px;
		margin-right: spacing(1);

		&:last-child {
			margin-right: 0;
		}

		&.current,
		&:hover {
			background: $light-grey;
		}
	}
}

.PageTool {
	padding: spacing(6) 0;
}

.ContentTool {
	border: 4px solid $light-grey;
	border-radius: 8px;
	padding: spacing(12);
	margin-bottom: spacing(2);

	&:last-child {
		margin-bottom: 0;
	}
}

.form-children > span {
	display: block;
	margin-bottom: spacing(2);
}

.Flexbox.add-button {
	justify-content: left;
	font-size: 1.2rem;
	width: unset;
	cursor: pointer;
	padding: spacing(4) 0;

	&:hover .Typography {
		text-decoration: underline;
		text-decoration-thickness: 3px;
		text-decoration-color: $color;
	}
}

.add-icon {
	margin-right: 1ch;
}
