@use 'variables' as *;

.Typography {
	margin-top: 0;

	&.accent {
		color: $accent;
	}

	&.bold {
		font-weight: $bold;
	}

	&.center {
		text-align: center;
	}
}

p.Typography {
	line-height: 1.6;
}

h1.Typography {
	font-size: 2.667rem;
	color: $accent;
}

h2.Typography {
	font-size: 2rem;
	color: $accent;
}

h3.Typography {
	font-size: 2rem;
}

.block {
	display: block;
}

.uppercase {
	text-transform: uppercase;
}

.Flexbox {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Container {
	max-width: 1200px;
	width: 85vw;
	margin-left: auto;
	margin-right: auto;
}

.Card {
	background: $background;
	box-shadow: $soft-shadow;
	border-radius: 2px;
	padding: 4vw;
	flex-basis: 31%;
	align-self: center;
	margin-bottom: spacing(8);
	max-width: 175px;

	.Typography {
		margin: 0;
		letter-spacing: 0;
	}
}

.card-container {
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.card-title {
	align-self: center;
	justify-content: center;
	text-align: center;
	border-top: 2px solid $accent;
	padding: spacing(3.125) 0;

	.Typography {
		font-size: 1.25rem;
	}
}

// .card-body {
// 	font-size: 1.5rem;
// }

.card-link {
	font-size: 0.75rem;
	text-decoration: underline;
	align-self: flex-end;
	padding: spacing(2);
	transform: translate(spacing(2), spacing(2));

	&:hover {
		color: $accent;
	}

	.svg-inline--fa {
		color: $accent;
		transform: translateY(2px);
		margin-left: 1ch;
	}
}

.Button {
	cursor: pointer;
	display: inline-block;
	appearance: none;
	border: none;
	outline: none;
	font-size: 1.5rem;
	font-family: inherit;
	font-weight: $bold;
	color: $background;
	background: $accent;
	padding: spacing(2);
	border-radius: 2px;

	&:hover,
	&:focus {
		background: darken($accent, 6%);
	}
}
