@use 'variables' as *;

.Typography {
	letter-spacing: 1px;
	margin-top: 0;

	&.accent {
		color: $accent;
	}

	&.center {
		text-align: center;
	}
}

h1.Typography {
	font-size: 6rem;
	color: $accent;
}

h2.Typography {
	font-size: 2.5rem;
	color: $accent;
}

h3.Typography {
	font-size: 2rem;
}

.block {
	display: block;
}

.uppercase {
	text-transform: uppercase;
}

.Flexbox {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Container {
	width: 90%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
